
@import '~bootstrap/scss/bootstrap';

	h1 {
		color: yellow;
		font-size: 300;
	}

	/*
	I got hung up on importing .css files into my html files. I imagine it's a tiny detail that I am not getting right. Ideally, I would like to structure every page on my site with linked external css files and but since this is just a one-pager for now, it'll do.

	Things to do:
	max-width -- so when I shrink the browser, I don't want the divs/blocks of text to get too skinny
	js -- Change the profile pic to a smile pic on mouseover, then go back to default on mouseout
	finish background - easy
	add contact info
	get rid of huge space between links and first dev

	<img src="https://i.imgur.com/N0a3b0U.png" class=mug>

	*/

		h1 {
			font-size:110;
			text-align: center;
			margin-top: 20px;
			margin-bottom: -30px;
			/*background: rgba(0, 0, 0, .4);
			padding: 30px 30px 30px 30px;*/
			color: white;
			font-family: 'VOLLKORN', sans-serif;

	}
		li { /* How do I get the links to stay white? */
			display: inline;
			margin: 30px 30px 30px 30px;
			color: white;
			font-family: 'Montserrat';
	}
		.occupation {
			color: white;
			text-align: center;
			font-size: 27px;
			font-family: 'Montserrat';
			margin-top: 20px;
			margin-bottom: 80px;
		}
		ul {
			background: rgba(0, 0, 0, .3);
			padding: 10px;
	    	text-align: center;
	    	margin: 50px 200px -150px 200px;
	    	color: white;
	}
		a {
			color: white;
		}
		img {
	      	display: block;
	      	border-width: 10px;
	      	border-style: solid;
	      	border-color: rgba(0, 0, 0, .5);
	      	border-radius: 50%;
	      	height: 300px;
	      	margin-left: auto;
	      	margin-right: auto;
	      	margin-top: 50px;
	      	transition: .5s;
	      	-webkit-transition: .5s;
	      	-moz-transition: .5s ease;
	}
		body {
			background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("https://www.biodiversityfinance.net/sites/default/files/content/banner/Screen%20Shot%202017-05-29%20at%2011.09.05%20am.png");
			background-position: top;
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			font-family: 'Montserrat';
			/*background: rgba(0, 0, 10, .5);*/
		}
		h2 {
			font-size: 25px;
			text-align: center;
			font-weight: 700;
		}

		p {
			font-size: 20px
		}
		.Interests {
			background: rgba(0, 0, 0, .3);
			color: white;
			text-align: justify;
			padding: 20px;
			margin: 200px 200px 50px 200px;
		}
		.Background {
			background: rgba(0, 0, 0, .3);
			color: white;
			text-align: justify;
			padding: 20px;
			margin: 0px 200px 50px 200px;
		}
		.ContactMe {
			background: rgba(0, 0, 0, .35);
			color: white;
			text-align: center;
			padding: 20px;
			margin: 0px 200px 50px 200px;
		}
		.BackToTop {
			text-align: center;
			font-family: 'Montserrat';
			margin: -10px;
		}

		@media (max-width: 900px) {
			.Interests {
				margin: 200px 80px 50px 80px;
			}
			.Background {
				margin: 50px 80px 50px 80px;
			}
			.ContactMe {
				margin: 50px 80px 50px 80px;
			}
			ul {
				margin: 50px 80px -150px 80px;
			}
		}
